.row{
    display: flex;
    margin: 0 auto;
}

.col{
    flex: 1;
    margin: 20px;
    padding: 10px;
    background-color: forestgreen;
}
.col-2{
    flex: 2;
    margin: 20px;
    padding: 10px;
    background-color: forestgreen;
}
.col-3{
    flex: 3;
    margin: 20px;
    padding: 10px;
    background-color: forestgreen;
}